@import "../scss/fontawesome.scss";
@import "../scss/solid.scss";
@import "../scss/brands.scss";


$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

$font-stack: 'Poppins', 'Open Sans', sans-serif;

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: $font-stack;
    color: white;
}

body {
    font-size: 1.6rem;
    background-image: url("../static/images/bg-desktop.svg");
    background-color: $violet;
}

.main-content {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.illustration {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.twitter {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-twitter);
    }
}

.facebook {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-facebook-f);
    }
}

.instagram {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-instagram);
    }
}